.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 48px; /* 16 24 48 48*/
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;/* 3.125vw; */
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0 16px;
  }
}
