.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 92px 0 0 0;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 10vw; /* 32px;  10vw */
    line-height: 35px;
    margin-top: 64px;
  }
}
